---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<p style="font-size: 24px; font-weight: bold;">
  Work in Progress
</p>
<p>
  <span style="font-size: 20px; font-weight: bold;">Privacy With Information Externalities and Complexity</span><br>
  with <a href="https://www.cond.org/">Eytan Adar</a> and <a href="https://yanchen.people.si.umich.edu/">Yan Chen</a> 
</p>
<p>
  <span style="font-size: 20px; font-weight: bold;">Affective Polarization and Social Identity: The Role Of Beliefs</span><br>
  with <a href="https://sites.google.com/site/alaincohn/home">Alain Cohn</a>
</p>
<p>
  <span style="font-size: 20px; font-weight: bold;">The Impact of AI on Recruitment Judgment</span><br>
  with <a href="https://www.jingyiqiu.com/">Jingyi Qiu</a>
</p>


