---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<br>
<p style="font-size:24px"><b>Graduate Student Instructor, University of Michigan</b></p>
<p>
  <span style="font-size: 20px; font-weight: bold;">SI 568: Becoming a Data Scientist </span><br>
  Master Level, Winter 2025
</p>
<p>
  <span style="font-size: 20px; font-weight: bold;">SI 388: Putting the H in HCI  </span><br>
  Undergraduate Level, Winter 2022
</p>
<p>
  <span style="font-size: 20px; font-weight: bold;">SI 568: Introduction to Applied Data Science </span><br>
  Master Level, Winter 2022
</p>
<p>
  <span style="font-size: 20px; font-weight: bold;">SI 588: Fundamentals of Human Behavior</span><br>
  Master Level, Fall 2021
</p>
